<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">

  <p>Olá, {{user_name}}</p>
  <h3>Um novo arquivo foi cadastrado.</h3>
  <p>Nome do arquivo: {{name}}</p>
  <p>Descrição do arquivo: {{description}}</p>
  <p>Quem cadastrou o arquivo: {{from_name}}</p>
  <p>O que voçê deve fazer: {{action_name}}</p>
  <p>Link para o arquivo: <a href="{{link}}" target="_blank" rel="noopener noreferrer">Link do arquivo</a></p>

</div>
